@import "../../../styles/variables.scss";
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-right: 8px;

  input[type="checkbox"] {
    margin-right: 8px;
  }

  label span {
    font-size: 14px;
    color: $slate-500;
    text-align: center;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}






