<main>
  <section class="main-section">
    <img class="logo-header" src="/assets/svg/Vector.svg" alt="logo raio" />
    <img class="logo-main" src="/assets/svg/Logo.svg" alt="logo central" />
  </section>

  <section class="form-section">
    <h2>{{ title }}</h2>
    <h3>{{ subTitle }}</h3>
    <ng-content></ng-content>
    <button
      class="btn-primary"
      (click)="submit()"
      [disabled]="disabledBtnText"
     > {{ btnText }}</button>
    <span (click)="navigate()"> {{ btnTextLabel }} <strong> {{ btnTextStrong }} </strong></span>
  </section>
</main>
